<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
    <!-- load fontawesome -->

	<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
	
	<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/select/1.2.1/css/select.dataTables.min.css" />
	<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" />
	<!-- Latest compiled and minified CSS For bootstrap select-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

	<!-- favIcons Code -->
	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png?v=1">
	<link rel="icon" type="image/png" href="/favicons/favicon-32x32.png?v=1" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicons/favicon-16x16.png?v=1" sizes="16x16">
	<link rel="manifest" href="/favicons/manifest.json?v=1">
	<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg?v=1" color="#5bbad5">
	<link rel="shortcut icon" href="/favicons/favicon.ico?v=1">
	<meta name="apple-mobile-web-app-title" content="Backlogger">
	<meta name="application-name" content="Backlogger">
	<meta name="msapplication-config" content="/favicons/browserconfig.xml?v=1">
	<meta name="theme-color" content="#ffffff">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="javascripts/html5shiv.js"></script>
      <script src="javascripts/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
  	<!--Navigation bar-->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
	      <!-- <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
		    <a asp-area="" asp-controller="Package" asp-action="Index" class="navbar-brand brand-center-mobile">
		        <img src="~/images/BIS_Logo.png" alt="Brand" />
		    </a>
		  </div> -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <!-- <a class="navbar-brand" href="http://disputebills.com">
        	<img style="width: 64px;" src="http://res.cloudinary.com/disputebills/image/upload/v1462474206/blue-mark_cnzgry.png" alt="Dispute Bills">
        	Brand Name
        </a> -->

        <a style="color:black;" class="navbar-brand" href="/">
			<img src="/images/App_Logo_Transparent.png" alt="app logo"/> </span>
			<%= title %>
		</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/report">Report</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        </div>
      </div>
    </nav>
    <div class="body-content">
    <!-- <h1><%= title %></h1> -->
    <h4>Welcome to <%= pageTitle %></h4>
    <br>
    <!-- <a href="/logout" class="btn btn-default btn-sm">Logout</a>
	<div class="well">
	    <h3><span class="fa fa-user"></span> Local</h3>
	        <p>
	            <strong>Name</strong>: <%= user.name %><br>
	            <strong>Email</strong>: <%= user.email %><br>
	            <strong>Password</strong>: <%= user.password %>
	        </p>
	</div> -->
	<div class="table-responsive"> 
	<table id="tblBacklogs" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
            	<th>Backlog Date</th>
                <th>Person</th>
                <th>Functional Area</th>
                <th>Idea</th>
                <th>Details</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
            	<th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    </div>
    <button type="submit"  data-toggle="modal" data-target="#mdlAddNew" class="btn btn-primary">Add New</button>
    <button type="submit" data-toggle="modal" data-target="#mdlAdminPassword" class="btn btn-primary">Admin</button>
  <!-- Modal -->
  <div class="modal fade" id="mdlViewDetails" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          	<form class="form-horizontal">
	          <div class="form-group">
	            <label for="backlogDate" class="form-control-label col-xs-3">Date:</label>
	            <div class="col-xs-9">
	            	<span id="backlogDate"></span>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="backlogPerson" class="form-control-label col-xs-3">Person:</label>
	            <div class="col-xs-9">
	            	<span id="backlogPerson"></span>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="backlogFuncArea" class="form-control-label col-xs-3">Functional Area:</label>
	            <div class="col-xs-9">
	            	<span id="backlogFuncArea"></span>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="backlogIdea" class="form-control-label col-xs-3">Idea:</label>
	            <div class="col-xs-9">
	            	<div id="backlogIdea" style="max-height: 260px; overflow-y: scroll;"></div>
	            </div>
	          </div>
        	</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    <!-- Modal -->
  <div class="modal fade" id="mdlAddNew" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add new backlog</h4>
        </div>
        <div class="modal-body">
        	<div id="mdlAddNewErrorMessage" class=""></div>
          	<form class="form-horizontal" action="/backlogs" method="post" id="frmAddNewBacklog">
	          <div class="form-group">
	            <label for="backlogDate" class="form-control-label col-xs-3">Date:</label>
	            <div class="col-xs-9">
	            	<span id="spanAddBacklogDate" class=""></span>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="menuPersons" style="margin-top:8px;" class="form-control-label col-xs-3">Person:</label>
	            <div class="col-xs-9">
					<select class="selectpicker" id="menuPersons">
					  	  <option></option>
					</select>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="menuFuncArea" style="margin-top:8px;" class="form-control-label col-xs-3">Functional Area:</label>
	            <div class="col-xs-9">
	            	<select class="selectpicker" id="menuFuncArea">
					  	  <option></option>
					</select>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="txtAddBacklogIdea" style="margin-top:8px;" class="form-control-label col-xs-3">Idea:</label>
	            <div class="col-xs-9">
	            	<textarea class="form-control" rows="7" cols="80" id="txtAddBacklogIdea"></textarea>
	            </div>
	          </div>
        	</form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" id="btnAddNewBacklog">Add Backlog</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
      <!-- Modal -->
  <div class="modal fade" id="mdlAdminPassword" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Enter your secret key.</h4>
        </div>
        <div class="modal-body">
        	<div id="mdlCheckAdminPassErrorMessage" class=""></div>
          	<div class="form-horizontal">
          	  <div class="form-group">
	            <label for="adminPassword" style="margin-top:8px;"  class="form-control-label col-xs-2">Password:</label>
	            <div class="col-xs-10">
	            	<input type="password" id="adminPassword" class="form-control" placeholder="Your Key">
	            </div>
	          </div>
        	</div>
        </div>
        <div class="modal-footer">
          <button id="btnCheckAdminPassword" type="button" class="btn btn-primary">OK</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="mdlAddAdminFormValues" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Admin Functionality</h4>
        </div>
        <div class="modal-body" style="padding-top:0px;">
        	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
	        	<!-- Wrapper for slides -->
	  			<div class="carousel-inner">
		  			<div class="item active">
			        	<div class="row">
				  			<div class="col-md-6">
					        	<h4> Persons</h4>
					          	<div class="table-responsive"> 
									<table id="tblPersons" class="table table-striped table-bordered" cellspacing="0" width="100%">
								        <thead>
								            <tr>
								            	<th>Person</th>
								            </tr>
								        </thead>
								    </table>
								</div>
							</div>
							<div class="col-md-6">
								<h4> Functional Areas</h4>
								<div class="table-responsive"> 
									<table id="tblFuncAreas" class="table table-striped table-bordered" cellspacing="0" width="100%">
								        <thead>
								            <tr>
								            	<th>Functional Area</th>
								            </tr>
								        </thead>
								    </table>
								</div>
							</div>
						</div>
						<hr style="margin-top: 5px;margin-bottom:10px;" />
						<div class="row">
							<div class="col-md-6">
							   <div id="mdlAddPersonErrorMessage" class=""></div>
							   <form class="form-horizontal">
								  <div class="form-group">
								    <label for="txtAddNewPerson" style="margin-top:8px;"  class="form-control-label col-xs-2">Person:</label>
								    <div class="col-xs-10">
								    	<input type="text" id="txtAddNewPerson" class="form-control" placeholder="Enter a person name">
								    </div>
							  	  </div>
							  	  <div class="form-group">
							  	  	<div class="col-xs-2">
							  	  	</div>
							  	  	<div class="col-xs-10">
							  	  		<button type="button" class="btn btn-primary" id="btnAddNewPerson">Add Person</button>
							  	  	</div>
							  	  </div>
								</form>
							</div>
							<div class="col-md-6">
								<div id="mdlAddFuncAreaErrorMessage" class=""></div>
								<form class="form-horizontal">
								  <div class="form-group">
								    <label for="txtAddNewFuncArea" style="margin-top:8px;"  class="form-control-label col-xs-2">Area:</label>
								    <div class="col-xs-10">
								    	<input type="text" id="txtAddNewFuncArea" class="form-control" placeholder="Enter a functional area">
								    </div>
							  	  </div>
							  	  <div class="form-group">
							  	  	<div class="col-xs-2">
							  	  	</div>
							  	  	<div class="col-xs-10">
							  	  		<button type="button" class="btn btn-primary" id="btnAddNewFuncArea">Add Area</button>
							  	  	</div>
							  	  </div>
								</form>
							</div>
						</div>
						<hr style="margin-top: 0px;margin-bottom:10px;" />
						<div class="row">
							<div class="col-md-12 text-center">
								<button class="btn btn-primary" data-target="#carousel-example-generic" data-slide-to="1">Go To Database Actions</button>
							</div>
						</div>
					</div> <!-- item -->
					<div class="item">
						<div class="row">
			          	  <div class="col-md-offset-2 col-md-8 text-center" style="padding-top:20px;">
			          	  	<div id="divErrorSuperAdminPassword" class=""></div>
			          	  	<!-- <form class="form-horizontal"> -->
							  <div class="form-group">
							    <label for="superadminpassword" class="col-sm-4 control-label">Enter Key:</label>
							    <div class="col-sm-4">
							      <input type="password" class="form-control" id="superadminpassword" placeholder="Super Admin Key">
							    </div>
							    <div class="col-sm-2">
							    	<button id="btnVerifySuperAdmin" type="button" class="btn btn-primary">Verify</button>
							    </div>
							  </div>
							<!-- </form> -->
				          </div>
				          <div class="col-md-2">
				          </div>
						</div>
						<hr />
						<div class="row" readonly>
							<div class="col-md-6">
					        	<h4><u> Database Backup</u></h4>
						        <div class="form-group">
							    	<label for="btnDBBackup" class="col-sm-4 control-label">Backup:</label>
							    	<div class="col-sm-8">
							    		<form action="/getbackup" method="post">
							    		    <button id="btnDBBackup" type="submit" class="btn btn-primary disabled">Get Backup</button>
							    		</form>
							    	</div>
							    </div>
							</div>
							<div class="col-md-6">
								<h4><u>Database Reset</u></h4>
								<form class="form-horizontal">
								  <div class="form-group">
								    <label class="col-sm-5">Select Dataset(s):</label>
								    <div class="col-sm-7">
								    	<div class="checkbox">
										  <label>
										  	<input id="chkBacklog" type="checkbox" value="backlog">Backlog
										  </label>
										</div>
								    	<div class="checkbox">
										  <label>
										    <input id="chkFunctionalArea" type="checkbox" value="functionalarea">Functional Area
										  </label>
										</div>
								    	<div class="checkbox">
										  <label>
										    <input id="chkPerson" type="checkbox" value="person">Person
										  </label>
										</div>
								    </div>
								  </div>
  								  <div class="form-group">
								    <div class="col-sm-offset-5 col-sm-7">
								      <button id="btnDBReset" type="buttom" class="btn btn-primary disabled">Reset</button>
								    </div>
								  </div>
								</form>
							</div>
						</div>
						<hr />
						<div class="row">
							<div class="col-md-12 text-center">
								<button class="btn btn-primary" data-target="#carousel-example-generic" data-slide-to="0">Go To Application Actions</button>
							</div>
						</div>
					</div>
				</div> <!-- carousel-inner -->
			</div> <!-- carousel -->
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>
 </div> <!-- Body content -->

  <!--Footer-->
  <footer id="footer" class="footer">
      <div class="container text-center">
	        © <%= new Date().getFullYear(); %>
        	 <%= title %>.
        	All rights reserved. <br />
            Made with <span class="fa fa-heart pomegranate" style="color:red;"></span> 
            by Phoenix Learning Labs in Lansing.
      </div>
    </footer>
    <!--/ Footer-->

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- for DataTables -->
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
	
	<script type="text/javascript" src="https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
	<!-- Latest compiled and minified JavaScript for bootstrap select-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

	<script type="text/javascript" src="/javascripts/dateformat.js"></script>
	<script type="text/javascript" src="/javascripts/backlogger.js"></script>
  </body>
</html>
